@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body{
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    width: 80vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 25vw 55vw;
    box-shadow: 0px 0px 30px -15px;
}

.container1{
    background-color: #fafafa;
    padding: 30px 0px;
    display: flex;
}

/* .icon{
    width: 64px;
    height: 64px;
    background-image: url("assets/icons/league-icon-client.png");
    background-position: center;
    background-size: cover;
} */

.form-login{
    width: 100%;
    margin: 15px 55px;;
}

.login-header{
    text-align: center;
    font-weight: bold;
}

.form > .input-form > input{
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.form > .input-form > input::-webkit-input-placeholder{
    font-weight: bold;
}

.form > .input-form > input{
    margin-bottom: 10px;
}

.form > .input-form > input:focus{
    background-color: #fafafa;
}

.form > .input-form > input:hover{
    transition: 100ms linear;
    background-color: #ececec;
}

.form > .input-form{
    padding: 150px 0px 50px;
}

.login-options{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.login-options > button{
    width: 30%;
    height: 30px;
    border-radius: 5px;
}

.button-facebook{
    border: none;
    background-color: #19a3ff;
    color: white;
    cursor: pointer;
}

.button-google{
    border: 2px solid #ececec;
    background-color: #fafafa;
    cursor: pointer;
}

.button-apple{
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

.ativo{
    width: 100%;
    display: flex;
    justify-content: start;
    cursor: pointer;
    margin-bottom: 15px;
}

.ativo > label{
    font-weight: bold;
    color: #757575;
    cursor: pointer;
}

.button-form{
    display: flex;
    justify-content: center;
}

.button-login-form{
    border: none;
    background-color: #dc0000;
    border-radius: 20px;
    width: 64px;
    height: 64px;
    font-weight: bold;
    font-size: 32px;
    color: white;
    cursor: pointer;
}

.button-login-form:hover{
    background-color: #cc0000;
}

.container2{
    background-image: url("../assets/images/Client\ Version\ 1080p.jpg");
    background-position: center;
    background-size: cover;
}